@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --darkBlue-main-bg: hsl(217, 54%, 11%);
  --darkBlue-card-bg: hsl(216, 50%, 16%);
  --darkBlue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --fontsize-paragraph: 18px;
  --outfit-font: "Outfit", sans-serif;
}

img {
  height: 100%;

  object-fit: fill;
}

body {
  font-family: var(--outfit-font);
  background-color: var(--darkBlue-main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding:0 1.25rem;
}

.container {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  background-color: var(--darkBlue-card-bg);
  border-radius: 15px;
}

.image-container {
  margin-bottom: 0.75rem;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
}

.text-info {
  display: flex;
  flex-direction: column;
}

.text-info > * {
  margin-bottom: 1.05rem;
}

.text-info h1 {
  color: var(--white);
  font-weight: 600;
}

.text-info p {
  font-weight: 300;
  color: var(--softBlue);
  font-size: var(--fontsize-paragraph);
}

.text-info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--darkBlue-line);
  padding: 0 0 0.75rem 0;
}

.text-info div span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--cyan);
}

#days {
  color: var(--softBlue);
}

.person-info {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.person-info img {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.person-info span {
  color: var(--white);
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 20rem;
  }
}
